/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

html {
  height: 100%;
  overflow-y: hidden;
}

body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient(rgb(168, 168, 168), rgb(230, 230, 230));
}

div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-content: space-between;
}

div.end-screen {
  width: 95%;
}


.start-screen-text {
  margin: 0 10px;
  padding-top: 25px;
}

h1 {
  margin: 0;
  padding: 3em;
  background-color: rgb(103, 159, 233);
  text-align: center;
}

h1.question-header,
.feedback-header,
.results-header {
  font-size: 22px;
  padding: 10px;
  margin-bottom: 50px;
}

.score-header {
  margin: 0;
  font-size: 25px;
}

.score-text {
  margin-bottom: 10px;
}

.feedback-header {
  margin-bottom: 30px;
}

p {
  margin: 0;
  padding: 3em;
  background-color: gray;
}

form {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  align-self: center;
  width: 95%;
  background: transparent;
}

.new-game-button,
.button-answer,
.button-next,
.endgame-button {
  margin-top: 75px;
  padding: 15px 0;
  background-color: rgb(0, 218, 0);
  border: 3px solid green;
  border-radius: 5px;
  font-weight: 800;
}

.button-answer,
.button-next {
  background-color: rgb(150, 220, 238);
  border-color: rgb(68, 208, 243);
  margin: 10px 5px;
  box-shadow: 1px 3px 10px;
}

.button-next,
.endgame-button {
  background-color: rgb(0, 218, 0);
  border: 3px solid green;
}

.endgame-button {
  width: 95%;
  align-self: center;
}

.button-answer:hover {
  background-color: rgb(68, 208, 243);
  box-shadow: none;
}

.button-answer:active {
  background-color: rgb(68, 208, 243);
  box-shadow: none;
}

input {
  vertical-align: middle;
}

  button {
  display: flex;
  justify-content: space-evenly;
  }

img {
  width: 50%;
  align-self: center;
  margin-bottom: 10px;
  padding: 0;
  max-width: 112px;
}

/* Media Queries */
@media all and (min-width: 800px) {
  form {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 800px;
    justify-content: center;
  }

  form button {
    width: 45%;
    display: inline-flex;
    margin: 100px 0px;
  }

  .new-game-button,
  .button-next,
  .endgame-button {
    width: 50%;
    align-self: center;

  }

}