/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

body {
  margin: 0;
  font-family: sans-serif;
}

div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-content: space-between;
}

h1 {
  margin: 0;
  padding: 3em;
  background-color: lightgray;
  text-align: center;
}

p {
  margin: 0;
  padding: 3em;
  background-color: gray;
}

form {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 30%;
}

.new-game-button {
  margin-top: 50px;
  padding: 15px 0;
  background-color: rgb(0, 255, 0);
  border: 3px solid green;
  border-radius: 5px;
}

input {
  vertical-align: middle;
}

label {
  display: flex;
  justify-content: space-evenly;
}

img {
  width: 50%;
}